.App {
  text-align: center;
}


.container {
  margin-top: 100px;
  max-width: 600px;
}

header {
  background: #fff;
  color: #1c5bbf;
  overflow: auto;
  padding: 20px 15px;
}

.logo {
  float: left;
  font-weight: 700;
  font-size: 24px
}

.navi-link {
  display: inline-block;
  margin: 0 10px;
  font-size: bold;
}

.links {
  float: right;
  margin-bottom: 10px;
}

.navi-link, .logo {
  cursor: pointer;

}

.page {
  min-height: 400px;
}

section {
  height: 300px;
  background: #fff;
  padding: 20px 10px
}
#zestimate-info {
  text-align: left;
  padding: 25px 10px 15px 10px;
}

footer {
  background: #03183a;
  color: #fff;
  height: 5%;
  padding: 20px
}

.carousel {
    max-width: 75%;
    margin: 10%;

}
.log-in {
  margin-top: 100px;
  margin-left: 300px;
  max-width: 600px;
  max-height: 300px
}

#logIn {
  margin-top: 10px;
}

strong {
  text-align: center;
}
table {
  margin-left: 136px;
}
#title {
  font-size: 32px;
}
i {
  font-weight: bold;
  font-size: 18px;
}

body {
  background: url("https://cdn.tollbrothers.com/models/santa_monica_10150_/elevations/27-Marbella-Santa-Monica_Front-Elevation_920.jpg");
  background-size: cover;
}

hr {
  background-color: #fff
}

#quote-div {
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin-left: 75px;
    margin-bottom: 60px;
    margin-right: 10px;
    cursor: zoom-in;
    box-shadow: 0 10px 6px -6px #212529;
}

#quote-div button i {
  cursor: pointer;
}
span {
  font-size: 16px;
}

h4 {
  color: green
}
#username {
  color: white;
}

h1 {
  color: white;
}
#buster {
  height: 0px;
}

/* .quote-item {
  display: inline-block;
} */

h3 {
  text-decoration: underline;
}


@media screen and (max-width:480px){
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 100%;
    font-family: arial;
    background: url("http://www.mihomes.com/Images/mktg/promo/161114_ZoneA_Raleigh.jpg");
    background-size: auto;
  }
}
