#estimate-form {
  background: rgba(0,0,0, 0.7);
  width: 40%;
  margin: 50px auto;
  padding: 20px;
}

#estimate-form h1, #estimate-form p {
  color: #d6d8db;
}

hr {
  background: #d6d8db;
  width: 75%;
}

form {
  padding: 20px;
}

form .form-control {
  border: 1px solid black;
}

label {
  margin: 5px;
  color: white
}


.listing {
  text-align: center
}

.amount {
  background: lightblue;
  width: 200px;
  margin: auto;
}

.details {
  display: inline-block;
  margin: 5px;
  font-weight: bold;
}
#get-info {
  color: white
}
